*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #131339;
}

@font-face {
    font-family: 'MyFont';
    src: url(webfont/Sen-SemiBold.ttf);
}

@font-face {
    font-family: 'BoldFont' ;
    src: url(webfont/Sen-Bold.ttf);
}

* {
    font-family: 'MyFont';
    font-weight: bold;
}

h1 {
    font-family: 'BoldFont';
    text-shadow: 4px 4px 0px #397c43;
    color: #37ed52;
    font-size: 70px;
    font-weight: lighter;
}

.title-div {
    text-align: center;
}

.bookInput {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 130px;
    border-radius: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #37ed52;
    color: #ffffff;
    font-family: 'BoldFont';
    box-shadow: 4px 4px 0px #397c43; 
    transition: transform 0.4s ease-in-out;
    border: none;
}

.addBtn:hover {
    transform: scale(0.95);
    cursor: pointer;
}

label:hover {
    cursor: text;
}

dialog {
    background-color: #13133900;
    border: none;
    animation: fadeIn 0.6s;
    transition: opacity 0.6s ease-in-out;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

fieldset {
    display: flex;
    flex-direction: column;
    background-color: #131339;
    padding: 20px;
    width: 22%;
    gap: 10px;
    border: solid 1px #37ed52;
    box-shadow: 5px 5px 0px #397c43;
    margin: 0;
}

.text-input {
    height: 30px;
    width: 100%;
    background-color: #131339;
    border: solid 1px #37ed52;
    color: #ffffff;
    padding: 5px;
}

.text-input:focus {
    border: solid 1px #37ed52;
    outline: none;
    box-shadow: 3px 3px 0px #397c43;
}

.radioBtn {
    cursor: pointer;
}

.add-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.confirm,
.cancel {
    height: 40px;
    width: 70px;
    transition: transform 0.4s ease-in-out;
}

.confirm:hover,
.cancel:hover,
.trash-ico:hover,
.read:hover,
.not-read:hover {
    cursor: pointer;
    transform: scale(0.96);
}

.confirm {
    background-color: #37ed52;
    color: #ffffff;
    border: none;
}

.cancel {
    background-color: #ed3d37;
    color: #ffffff;
    border: none; 
}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.radio-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #37ed52;
    font-weight: lighter;
    background-color: #16164e;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #37ed52;
}

a:hover,
a:visited {
    text-decoration: underline;
    color: #37ed52;
}

h2 {
    color: #37ed52;
}

.book-card {
    border: solid 1px #37ed52;
    color: #ffffff;
    padding: 10px;
    box-shadow: 4px 4px 0px #397c43;
    height: 220px;
    width: 270px;
    margin: 20px;
}

.delete-card {
    background-color: #131339;
    border: none;
    justify-content: center;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trash-ico {
    height: 29px;
    width: 29px;
    transition: transform 0.4s ease-in-out;
}

.read {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37ed52;
    color: #ffffff;
    border: none;
    height: 35px;
    width: 55px;
    transition: transform 0.5s ease-in-out;
}

.not-read {
    background-color: #ed3d37;
    color: #ffffff;
    font-size: 10px;
    border: none;
    height: 35px;
    width: 55px;
    transition: transform 0.5s ease-in-out;
}

.locked-scroll {
    overflow: hidden;
}