*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #131339;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'MyFont';
    src: url(webfont/Sen-SemiBold.ttf);
}

@font-face {
    font-family: 'BoldFont' ;
    src: url(webfont/Sen-Bold.ttf);
}

* {
    font-family: 'MyFont';
    font-weight: bold;
}

main {
    flex: 1;
}

h1 {
    font-family: 'BoldFont';
    color: #37ed52;
    font-size: 70px;
    font-weight: lighter;
    transition: text-shadow 0.3s ease-in-out;
}

h1:hover {
    text-shadow: 4px 4px 0px #397c43;
    cursor:default;
}

.title-div {
    text-align: center;
}

.bookInput {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 120px;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: #37ed52;
    color: #ffffff;
    font-family: 'BoldFont';
    border: 1px solid #37ed52;
    transition: background-color 0.3s ease-in-out;
}

.addBtn:hover {
    background-color: #131339;
    cursor: pointer;
    border: 1px solid #37ed52;
    color: #37ed52;
}

label:hover {
    cursor: text;
}

dialog {
    background-color: #13133900;
    border: none;
    animation: fadeIn 0.6s;
    transition: opacity 0.6s ease-in-out;
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    background-color: #131339;
    padding: 20px;
    width: 22%;
    gap: 10px;
    border: solid 1px #37ed52;
    margin: 0;
}

.text-input {
    height: 30px;
    width: 100%;
    background-color: #131339;
    border: solid 1px #37ed52;
    color: #ffffff;
    padding: 5px;
    transition: box-shadow 0.2s ease-in-out;
}

.text-input:focus {
    border: solid 1px #37ed52;
    box-shadow: 3px 3px 0px #397c43;
    outline: none;
}

#read {
    cursor: pointer;
    border: none;
}

#read:checked {
    accent-color: #37ed52;
}

.add-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.confirm,
.cancel {
    height: 40px;
    width: 70px;
    transition: background-color 0.3s ease-in-out;
}

.cancel:hover {
    background-color: #131339;
    border: 1px solid #ed3d37;
    cursor: pointer;
    color: #ed3d37;
}

.confirm {
    background-color: #37ed52;
    color: #ffffff;
    border: solid 1px #37ed52;
}

.cancel {
    background-color: #ed3d37;
    color: #ffffff;
    border: none; 
}

.btn-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.radio-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #37ed52;
    font-weight: lighter;
    background-color: #16164e;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #37ed52;
}

a:hover,
a:visited {
    text-decoration: underline;
    color: #37ed52;
}

h2 {
    color: #37ed52;
    margin-bottom: 0;
}

.book-card {
    border: solid 1px #37ed52;
    color: #ffffff;
    padding: 10px;
    height: 230px;
    width: 270px;
    margin: 20px;
}

.delete-card {
    background-color: #131339;
    border: none;
    justify-content: center;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trash-ico {
    height: 29px;
    width: 29px;
    transition: filter 0.3s ease-in-out;
}

.trash-ico:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.read-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37ed52;
    color: #ffffff;
    border: solid 1px #37ed52;
    height: 35px;
    width: 55px;
    transition: background-color 0.3s ease;
}

.locked-scroll {
    overflow: hidden;
}

.read-btn:hover,
.confirm:hover {
    background-color: #131339;
    border: 1px solid #37ed52;
    cursor: pointer;
    color: #37ed52;
}
